<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component">
      <img class="image" src="/assets/images/789771_drink_512x5121.png">
      <h4 class="heading text-basic">Logowanie</h4>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component">
      <label class="text text-basic label">Nazwa użytkownika</label>
      <input #email nbInput class="input size-xl-medium" placeholder="" type="email" shape="rectangle" status="basic">
      <label class="text1 text-basic label">Hasło</label>
      <input #password nbInput class="input1 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
      <a routerLink="/Logowanie" class="link text-primary">Nie masz konta? Zarejestruj się.</a>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component1">
      <button (click)="login(email.value, password.value)" nbButton class="button size-xl-medium" appearance="filled" status="success">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Zaloguj się</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
