:host {

  width: 40%;
  height: auto;
  margin: 0 0 24px 0;
  display: block;
  
  .image {
    margin: 0 8px 16px 0;
    width: 90px;
    height: 90px;
    border-radius: 107px;
    object-fit: cover;
  }
    
  .heading {
    margin: 0;
  }
    
  .space-component {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: visible;
    background-color: unset;
  }
    
  .button {
    width: 100%;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .space-component1 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .card {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border-top-color: var(--card-header-primary-background-color);
    border-top-style: var(--card-border-style);
    border-top-width: var(--card-border-radius);
  }
    
  @media (max-width: 1024px) {
    width: 40%;
    height: auto;
    flex-grow: 0;
  }
    
  @media (max-width: 768px) {
    width: auto;
    height: auto;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    width: auto;
    height: auto;
    margin: 0;
    flex-grow: 0;
  }
  
}