:host > .slot {
  height: 100%;
  
  .space-component {
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: visible;
    background-color: unset;
  }
    
  @media (max-width: 768px) {
    .space-component {
      padding: 8px;
    }
  }
  
}