@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  header-height: 80px,
  header-padding: 16px,
  header-background-color: background-basic-color-1,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: background-basic-color-1,

  border-radius: 0.25rem,
  bg-default-color: color-basic-800,
  bg-disabled-color: color-basic-900,
  card-disabled-header-border-color: color-basic-700,
  card-disabled-footer-border-color: color-basic-700,
  table-disabled-border-color: color-basic-700,
  bg-hint-color: color-basic-700,
  card-hint-header-border-color: color-basic-600,
  card-hint-footer-border-color: color-basic-600,
  table-hint-border-color: color-basic-600,
  table-border-color: color-basic-700,
  shadow: none,

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #FFFFFF,
  color-basic-200: #F7F9FC,
  color-basic-300: #EDF1F7,
  color-basic-400: #E4E9F2,
  color-basic-500: #C5CEE0,
  color-basic-600: #8F9BB3,
  color-basic-700: #2E3A59,
  color-basic-800: #222B45,
  color-basic-900: #1A2138,
  color-basic-1000: #151A30,
  color-basic-1100: #101426,

  color-primary-100: #F2F6FF,
  color-primary-200: #D9E4FF,
  color-primary-300: #A6C1FF,
  color-primary-400: #598BFF,
  color-primary-500: #3366FF,
  color-primary-600: #274BDB,
  color-primary-700: #1A34B8,
  color-primary-800: #102694,
  color-primary-900: #091C7A,

  color-info-100: #F2F8FF,
  color-info-200: #C7E2FF,
  color-info-300: #94CBFF,
  color-info-400: #42AAFF,
  color-info-500: #0095FF,
  color-info-600: #006FD6,
  color-info-700: #0057C2,
  color-info-800: #0041A8,
  color-info-900: #002885,

  color-success-100: #F0FFF5,
  color-success-200: #CCFCE3,
  color-success-300: #8CFAC7,
  color-success-400: #2CE69B,
  color-success-500: #00D68F,
  color-success-600: #00B887,
  color-success-700: #00997A,
  color-success-800: #007D6C,
  color-success-900: #004A42,

  color-warning-100: #FFFDF2,
  color-warning-200: #FFF1C2,
  color-warning-300: #FFE59E,
  color-warning-400: #FFC94D,
  color-warning-500: #FFAA00,
  color-warning-600: #DB8B00,
  color-warning-700: #B86E00,
  color-warning-800: #945400,
  color-warning-900: #703C00,

  color-danger-100: #FFF2F2,
  color-danger-200: #FFD6D9,
  color-danger-300: #FFA8B4,
  color-danger-400: #FF708D,
  color-danger-500: #FF3D71,
  color-danger-600: #DB2C66,
  color-danger-700: #B81D5B,
  color-danger-800: #94124E,
  color-danger-900: #700940,

  
  card-margin-bottom: 0,
  outline-width: 0,
  
), dark, dark);

