<div>
  <video #player *ngIf="!photoTaken" width="640" height="480"></video>
  <canvas [hidden]="!photoTaken" #capture width="640" height="480">No picture taken</canvas>
  <button (click)="takePhoto()">Take photo</button>
  <button [hidden]="!photoTaken" (click)="downloadPhoto()">Download photo</button>
</div>
