<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component">
      <img class="image" src="/assets/images/789771_drink_512x512.png">
      <h4 class="heading text-basic">Rejestracja</h4>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component">
      <label class="text text-basic label">Imię</label>
      <input #name nbInput class="input size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
      <label class="text text-basic label">Nazwisko</label>
      <input #surname nbInput class="input size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
      <label class="text1 text-basic label">Email</label>
      <input #email nbInput class="input1 size-xl-medium" placeholder="" type="email" shape="rectangle" status="basic">
      <label class="text2 text-basic label">Hasło</label>
      <input #password nbInput class="input2 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
      <a routerLink="/Logowanie" class="link text-primary">Masz już konto? Zaloguj się.</a>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component1">
      <button (click)="register(name.value, surname.value, email.value, password.value)" nbButton class="button size-xl-medium" appearance="filled" status="success">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Zarejestruj się</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
