<div class="space space-component">
  <label class="text text-basic label">LoginResponse/Email</label>
  <input #email nbInput class="input size-xl-medium" placeholder="" type="email" shape="rectangle" status="basic">
  <label class="text1 text-basic label">Hasło</label>
  <input #password nbInput class="input1 size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
  <a routerLink="/Logowanie" class="link text-primary">Nie masz konta? Zarejestruj się.</a>
</div>
